<div class="wrap">
<% @cocktails.each do |cocktail| %>

  <div class = "col-xs-12 col-sm-4 col-xl-2">

    <div class="tile">
    <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
      <div class="text">
        <h1><%= cocktail.name %></h1>
        <hr>
          <% cocktail.doses.each do |dose| %>
            <div class="animate-text ingredients_text">
              <%= dose.description%> <%= dose.ingredient.name %>
            </div>
          <% end %>
        <div class="dots">
          <%= link_to cocktail_path(cocktail) do %>
          <span></span>
          <span></span>
          <span></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
