<div>
  <h1><%= @cocktail.name %></h1>
</div>
 <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  <%= link_to "Add A Dose", new_cocktail_dose_path(@cocktail) %>
<ul>
  <% @cocktail.doses.each do |dose| %>

  <li>
    <div><%= dose.ingredient.name %></div>
    <div><em><%= dose.description %></em></div>
 </li>
  <% end %>
</ul>
