<div class="container">
  <h1>Add to <%= @cocktail.name %></h1>
</div>
<div class = "form">
<%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :ingredient_id, collection: Ingredient.all.map {|i| [i.name, i.id] }, placeholder: "Select an ingredient!", input_html: { class: 'text_field' }, label: false, input_html: { class: 'text_field' } %>
    <%= f.input :description, input_html: { class: 'text_field' }%>
    <%= f.submit input_html: { class: 'button' } %>
  <% end %>
</div>
